.modal-container {
    display: none;
}

.show-modal {
    display: flex;
}


.hidden {
    display: none;
}


.inactive {
    background-color: transparent; 
    color: black; 
    border: 1px solid gray; 
    border-radius: 1px; 
}


.active {
    background-color: rgb(180, 244, 97); 
    color: white; 
    border: none; 
}

.navbar-main {
    backdrop-filter: blur(60px); 
    transition: background-color 0.5s ease; 
}

.navbar-main.scrolled {
    background-color: rgba(255, 255, 255, 0.9); 
}